.content {
    text-overflow: ellipsis;
    margin-left: 10%;
    color: blue;
}

    .content span {
        font-size: small;
        font-weight: bold;
        font-style: italic;
    }

td, th {
    padding: 4px;
    vertical-align: middle;
}

.table, .grid {
    border-collapse: collapse;
    border: 0px solid #111111;
    width: 98%;
}

.grid {
    height: 80%;
}

.blank {
    height: 20px;
}

fieldset {
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-color: #EEEEEE;
}

input[type=text], button {
    height: 32px;
}

button {
    width: 32px;
    text-overflow: ellipsis;
}

input[type=text], textarea, select {
    width: 100%;
    margin: 2px;
    border: 0px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
    color: blue;
    font-style: italic;
    text-overflow: ellipsis;
}

.ol {
    list-style: none;
}

.old {
    list-style: decimal;
}

    .ol li p, .old li p {
        border: 1px solid #EEEEEE;
        padding: 4px;
        word-wrap: break-word;
    }

.right {
    text-align: right;
    width: 100%;
}
